certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
Flask==3.1.2
Flask-Limiter==4.1.1
idna==3.11
importlib-metadata==8.7.0
influxdb==5.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msgpack==1.1.2
ogn-client==2.0.0
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.1.0
requests==2.32.5
six==1.17.0
tzfpy==1.1.0
tzlocal==5.3.1
urllib3==2.6.1
Werkzeug==3.1.4
zipp==3.23.0

GDAL==3.4.1

beautifulsoup4==4.14.3
matplotlib==3.10.7
pandas==2.3.3
plotly==6.5.0

