
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    display: table;
    margin: 0 auto;
}

/* ------------------------------ tables --------------------------- */

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.title {
	vertical-align: top;
	font-weight: bold;
	width: 20%;
}


@media only screen and (min-width: 1400px) {
   .threeCols {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      grid-column-gap: 5px;
    }
}

@media only screen and (min-width: 400px) {
    .threeCols {
        text-align: center;
        padding: 0px 10px 0px 10px;
    }
}

.threeCols > div {
  overflow:hidden;
  /*background-color: lightgray;*/
  text-align: center;
  padding: 0px 5px 10px 5px;
  align: center;
}

.oneCol > div {
  overflow:hidden;
  /*background-color: lightgray;*/
  text-align: center;
  padding: 0px 10px 10px 10px;
  align: center;
}


.table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    display: table;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #3b3b3b;
}

a:visited {
  color: #3b3b3b;
}

a:hover {
    text-decoration: underline;
}

.row:nth-of-type(2n+1) {
    background: #e9e9e9;
}

.row:hover {
    background-color: lightgray;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    background: #ea6153;
}

.row.green {
    background: #27ae60;
}

.row.blue {
    background: #2980b9;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.cell {
    padding: 5px 8px;
    display: table-cell;
}

.sum {
    background: #fff;
    font-weight: bold;
}

.cellNoData {
    padding: 5px;
}

/* ------------------------------ site header --------------------------- */

.siteheader {
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 1px solid #ebeaeb;
}

.topbar {
    text-align:center;
    max-width: 1400px;
}

.logo {
    float: left;
    margin-left: 10px;
    margin-top: 21px;

}

/*
@media only screen and (min-width: 400px) {
    .menu {
        visibility: hidden;
    }
}
*/

@media only screen and (min-width: 1400px) {
    .menu {
        float: left;
        margin-top: 30px;
        vertical-align: middle;
        font-size: 22px;
        color: #999;
    }
}

.menuitem {
    margin-left: 21px;
    float:left;
    line-height: 1.5;
}

.menuitem span {
    vertical-align: text-top;
    line-height: 14px;
}

.menuitem a:link {
    color: #999;
}

.menuitem a:visited {
    text-decoration: none;
    color: #999;
}

.banner img {
    position: relative;
    top: -5px;
}

.stats {
    top: 0px;
    right: 0px;
    width: 200px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    text-align: right;
    float: right;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #666;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ------------------------------ search --------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchWrap {
    float: left;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  border: 1px solid #999;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #999;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 32px;
  border: 1px solid #999;
  background: #999;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}

/* ------------------------------ datepicker --------------------------- */

.datepickerWrap {
    width: 119px;
    float: left;
    margin-top: 0px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.datepicker {
  width: 100%;
  border: 1px solid #999;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #999;
}

.datepicker:focus {
  color: #000;
}

.datepickerButton {
  width: 40px;
  height: 32px;
  border: 1px solid #999;
  background: #999;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}


/* ------------------------------ site body --------------------------- */

.sitebody {
    margin-top: 80px;
    max-width: 1450px;
}

/* ------------------------------ footer --------------------------- */

.footer {
	margin-top: 10px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #999;
}

.footer a {
    text-decoration: none;
    color: #999;
}

.footer a:hover {
    text-decoration: underline;
}

.footerInfo {
    margin-top: 6px;
    margin-bottom: 10px;
}

.footerInfo span {
    padding: 5px 8px 5px 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: green;
    border-radius: 20px;
}

.footerInfo .node {
    background: #2980b9;
}

.footerInfo .wip {
    background: #27ae60;
}

/* ------------------------------ fonts --------------------------- */

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/static/fonts/roboto300-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/static/fonts/roboto300-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
