div.addButton {
    z-index: +500;
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
    width: 48px;
    height: 48px;
    background-image: url('/static/img/plus-blue48.png');
}

div.closeButton {
    z-index: +500;
    position: absolute;
    float: right;
    right: 15px;
    top: 25px;
    width: 30px;
    height: 30px;
}

div.sideBar {
    z-index: +500;
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background-color: lightsteelblue;
    opacity: 0.8;
    visibility: hidden;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

div.sideBar input {
    width: 97%;
}

div.sideBar input.narrow {
    width: 152px;
}

div.sideBar textarea {
    width: 240px;
}

div.sideBarFormItem {
    padding: 8px;
    text-align: left;
}

#labelForSearchResults {
  font-weight: bold;
}

.searchResults {
  max-height: 100vh;
  overflow: auto;
}

.searchResult {
  display: flex;
  margin-top: 5px;
}

.searchResultDisabled {
  display: flex;
  margin-top: 5px;
  font-weight: bold;
}

.searchResultDisabled span {
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.searchResult:hover {
    background-color: lightgray;
    text-decoration: underline;
    cursor: pointer;
}

.searchResult span {
    width: 16px;
    margin-right: 5px;
    background-image: url('/static/img/plus-blue16.png');
    background-repeat: no-repeat;
}

.searchResultDisabled span {
    width: 16px;
    margin-right: 5px;
}

.searchResult div {
  flex-grow: 1;
}