
<div class="footer">
	ognLogbook by <a href="http://www.ibisek.com" target="_blank">ibišek</a>, version 2023-08-18, serving 28039 airstrips with 34783 registered planes

	<div class="footerInfo">
		<span class="wip">ALL</span> <span class="wip">TIMES</span> <span class="wip">ARE</span> <span class="wip">YOURS</span> <span class="wip">LOCAL</span>
		@ <span class="node">{{ node().upper() }}</span>
	</div>

	airfields location data based on
	<a href="https://aim.rlp.cz/vfrmanual/" target="_blank">aim.rlp.cz/vfrmanual</a>,
	<a href="https://www.openflightmaps.org/" target="_blank">openflightmaps.org</a>,
	<a href="https://www.openstreetmap.org/" target="_blank">openstreetmap.org</a> and
	<a href="https://www.wikipedia.org/" target="_blank">wikipedia.org</a>

	{% if 'browser_timezone' in session %}
	<br>
	{{ gettext('footer.timezone1') }} <b>{{ session['browser_timezone'] }}</b>{{ gettext('footer.timezone2') }}
	{% endif %}

	<br>
	<a href="http://www.ibisek.com" target="_blank">www.ibisek.com</a>
	&nbsp;|&nbsp;<a href="http://ogn.ibisek.com" target="_blank">ogn.ibisek.com</a>
	&nbsp;|&nbsp;<a href="http://mapalpg.ibisek.com" target="_blank">mapalpg.ibisek.com</a>

	<!--
	<div class="footerInfo">
		<div class="node"><span>{{ node() }}</span></div>
		<div class="wip"><span>WORK</span> <span>IN</span> <span>PROGRESS</span></div>
	</div>
	-->


</div>

