
<div class="footer">
	ognLogbook by <a href="http://www.ibisek.com" target="_blank">ibišek</a>, version 2022-05-18, serving 25262 airstrips with 28834 registered planes

	<div class="footerInfo">
		<span class="wip">WITH</span> <span class="wip">IGC</span> <span class="wip">FILE</span> <span class="wip">DOWNLOAD</span>
		@ <span class="node">{{ node().upper() }}</span>
	</div>

	airfields location data based on
	<a href="https://aim.rlp.cz/vfrmanual/" target="_blank">aim.rlp.cz/vfrmanual</a>,
	<a href="https://www.openflightmaps.org/" target="_blank">openflightmaps.org</a>,
	<a href="https://www.openstreetmap.org/" target="_blank">openstreetmap.org</a> and
	<a href="https://www.wikipedia.org/" target="_blank">wikipedia.org</a>

	<br>
	<a href="http://www.ibisek.com" target="_blank">www.ibisek.com</a>
	&nbsp;|&nbsp;<a href="http://mapalpg.ibisek.com" target="_blank">mapalpg.ibisek.com</a>

	<!--
	<div class="footerInfo">
		<div class="node"><span>{{ node() }}</span></div>
		<div class="wip"><span>WORK</span> <span>IN</span> <span>PROGRESS</span></div>
	</div>
	-->


</div>

