
<div class="footer">
	ognLogbook by ibišek, version 2020-07-24, experimental
	<br>
	airfields location data based on
	<a href="https://aim.rlp.cz/vfrmanual/" target="_blank">aim.rlp.cz/vfrmanual</a>,
	<a href="https://www.openflightmaps.org/" target="_blank">openflightmaps.org</a> and
	<a href="https://www.openstreetmap.org/" target="_blank">openstreetmap.org</a>

	<!--
	<div class="footerInfo">
		<div class="node"><span>{{ node() }}</span></div>
		<div class="wip"><span>WORK</span> <span>IN</span> <span>PROGRESS</span></div>
	</div>
	-->

	<div class="footerInfo">
		<span class="wip">WORK</span> <span class="wip">IN</span> <span class="wip">PROGRESS</span>
		@ <span class="node">{{ node().upper() }}</span>
	</div>
</div>

