
<div class="siteheader">
    <center>
        <div class="topbar">
            <a class="logo" href="/"><img src="/static/img/logo.png"></a>

            <div class="menu">
                <span class="menuitem">
                    <span>{% if linkPrevDay %} <a href="{{linkPrevDay}}" style="font-size:20px; line-height: 1.5;"><</a> {% set leftArrow = True %}{% endif %}</span>
                </span>
                <span class="menuitem"{% if leftArrow %} style="margin-left: 10px;"{% endif %}>
                    {% if showDatePicker %}
                    <div class="datepickerWrap">
                        <input id="datepicker" class="datepicker" type="text" value="{{date.strftime('%d.%m.%Y')}}"/>
                        <button type="submit" class="searchButton" id="datepickerButton" onclick="return false;", style="cursor: default;">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                    {% else %}
                    {{date.strftime('%d.%m.%Y')}}
                    {% endif %}
                </span>
                <span class="menuitem" style="margin-left: 10px;">
                    <span>{% if linkNextDay %} <a href="{{linkNextDay}}" style="font-size:20px; line-height: 1.5;">></a> {% endif %}</span>
                </span>
                {% if icaoCode %}
                <span class="menuitem">
                    <div>
                    {% if date %}
                        <a href="/csv/loc/{{icaoCode}}/{{date.strftime('%Y-%m-%d')}}{% if dateTo %}/{{dateTo.strftime('%Y-%m-%d')}}{% endif %}">{{icaoCode}}
                            {% if dayRecords|length > 0 %}
                            <img src="/static/img/csv-file-icon-green.svg" style="width: 25px; height:25px; vertical-align: middle; padding-left: 5px;"/>
                            {% endif %}
                        </a>
                        &ensp;
                        {# <a href="https://mapy.cz/zakladni?x={{lon}}&y={{lat}}&z=16&base=ophoto&source=coor&id={{lon}}%2C{{lat}}" target="_blank"> #}
                        <a href="https://www.google.com/maps/@?api=1&map_action=map&basemap=satellite&&zoom=16&center={{lat}},{{lon}}" target="_blank">
                            <img src="/static/img/map.svg" style="width: 30px; height:30px; vertical-align: middle; padding-left: 5px;"/>
                        </a>
                    {% else %}
                            {{icaoCode}}
                    {% endif %}
                    </div>
                </span>
                {% endif %}
                {% if registration %}
                <span class="menuitem">
                    <div>
                    {% if date %}
                        <a href="/csv/reg/{{registration}}/{{date.strftime('%Y-%m-%d')}}{% if dateTo %}/{{dateTo.strftime('%Y-%m-%d')}}{% endif %}">{{registration}}
                            {% if dayRecords|length > 0 %}
                            <img src="/static/img/csv-file-icon-green.svg" style="width: 25px; height:25px; vertical-align: middle; padding-left: 5px;"/>
                            {% endif %}
                        </a>
                    {% else %}
                        {{registration}}
                    {% endif %}
                    </div>
                </span>
                {% endif %}

                <span class="menuitem">
                    <div class="searchWrap">
                        <div class="search">
                            <input type="text" class="searchTerm" id="searchTerm" placeholder="{{ gettext('search.hint') }}">
                            <button type="submit" class="searchButton" id="searchButton" onclick="return onSearchBtnClick();">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </span>

                {% set rnd = range(0, 2) | random %}
                {% if rnd == 0 %}
                <span class="menuitem"><a href="{{ gettext('werbung.krt2bt.link') }}" target="_blank">KRT2 Bluetooth</a></span>
                <span class="menuitem"><a href="https://ogn.ibisek.com/index.php/en/ogn-cube-three-2/" target="_blank">OGN Cube</a></span>
                <span class="menuitem"><a href="https://play.google.com/store/apps/details?id=com.lomolo.vfr_manual" target="_blank">{{ gettext('werbung.vfrmanual') }}</a></span>
                {% else %}
                <span class="banner"><a href="{{ gettext('werbung.krt2bt.link') }}" target="_blank"><img src="/static/img/banner-krt2bt.png"></a></span>
                {% endif %}

            </div>  {# menu #}

            {% if totNumFlights and totNumFlights > 0 %} {# .. display only if the statistical data is available #}
            <div class="stats">
                <div class="tooltip">
                    {{ gettext('stat.line1') }}: <b>{{ "{:,}".format(totNumFlights).replace(',', ' ') }}</b>&nbsp;<a href="/stats">&#x1F4CA;</a>
                    <span class="tooltiptext">{{ gettext('stat.line1.hint') }}</span>
                </div>
                <div class="tooltip">
                    {{ gettext('stat.line2') }}: <b>{{ "{:,}".format(numFlightsToday).replace(',', ' ') }}</b>
                    <span class="tooltiptext">{{ gettext('stat.line2.hint') }}</span>
                </div>
                {#
                <div class="tooltip">
                    {{ gettext('stat.line3') }}: <b>{% if longestFlightTime %}{{longestFlightTime}}&nbsp;<a href="/map/{{longestFlightId}}">&#128269;</a>{% else %}{{ gettext('stat.none1') }}{% endif %}</b>
                    <span class="tooltiptext">{{ gettext('stat.line3.hint') }}</span>
                </div>
                #}
                <div class="tooltip">
                    {{ gettext('stat.line4') }}: <b>{% if highestTrafficLocation %}<a href="/loc/{{highestTrafficLocation}}">{{highestTrafficLocation}}</a> ({{highestTrafficCount}}){% else %}{{ gettext('stat.none2') }}{% endif %}</b>
                    <span class="tooltiptext">{{ gettext('stat.line4.hint') }}</span>
                </div>
                <div class="tooltip">
                    [ <a onclick="switchTimezone(); return false;"><span id='timezone'>{{display_tz}}</span></a> ] [ <a href="/login">{{ gettext('login') }}</a> ]
                </div>
            </div>
            {% endif %}

        </div>
    </center>
</div>

