
<div class="siteheader">
    <div class="topbar">
        <a class="logo" href="/">
            <img src="/static/img/logo.png">
        </a>

        <div class="menu">
            <span class="menuitem">
                <span>{% if linkPrevDay %} <a href="{{linkPrevDay}}" style="font-size:12px;"><</a> {% endif %}</span>
                {{date.strftime('%d.%m.%Y')}}
                <span>{% if linkNextDay %} <a href="{{linkNextDay}}" style="font-size:12px;">></a> {% endif %}</span>
            </span>
            {% if icaoCode %}
            <span class="menuitem">{{icaoCode}}</span>
            {% endif %}
            {% if registration %}
            <span class="menuitem">{{registration}}</span>
            {% endif %}
            {#
            <span class="menuitem">|</span>
            <span class="menuitem"><a href="https://ogn.ibisek.com" target="_blank">OGN Cube</a></span>
            <span class="menuitem"><a href="https://play.google.com/store/apps/details?id=com.ibisek.vfrmanualcz" target="_blank">VFR Manual</a></span>
            #}
        </div>

        {% if totNumFlights and totNumFlights > 0 %} {# .. display only if the statistical data is available #}
        <div class="stats">
            <div class="tooltip">
                Registered flights: <b>{{totNumFlights}}</b>
                <span class="tooltiptext">Total number of registered flights since big bang</span>
            </div>
            <div class="tooltip">
                Flights today: <b>{{numFlightsToday}}</b>
                <span class="tooltiptext">Number of flights registered today</span>
            </div>
            <div class="tooltip">
                Longest flight: <b>{% if longestFlightTime %}{{longestFlightTime}}{% else %}none{% endif %}</b>
                <span class="tooltiptext">Longest time interval between take-off and landing</span>
            </div>
            <div class="tooltip">
                Highest traffic: <b>{% if highestTrafficLocation %}<a href="/loc/{{highestTrafficLocation}}">{{highestTrafficLocation}}</a> ({{highestTrafficCount}}){% else %}none{% endif %}</b>
                <span class="tooltiptext">Location with the most dense traffic of the day (with number of take-offs + landings)</span>
            </div>
        </div>
        {% endif %}

    </div>
</div>

