<!doctype html>

<html>

<head>
<title>OGN Logbook</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description"
		content="OGN Logbook - Open Gliding Network Logbook">

	{#<meta http-equiv="refresh" content="120">#}

	<link rel="stylesheet" href="/static/css/index.css"	type="text/css">
	<link href="/static/img/favicon.png" rel="shortcut icon">
	<link href="/static/img/favicon.png" rel="icon" type="image/png" />
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<script type="text/javascript" src="/static/js/index.js"></script>
{% if not debugMode %}
	<img alt="pocitadlo" src="https://count-for-me.appspot.com/logMe?loc=ognLogbook">
{% endif %}
</head>


{% macro formatDepartures(list) -%}
	<h2>{{ gettext('main.departures') }}</h2>
	<div class="table">
		<div class="row header">
			<div class="cell">{{ gettext('tab.date') }}</div>
			<div class="cell">{{ gettext('tab.time') }}</div>
			<div class="cell">{{ gettext('tab.loc') }}</div>
			<div class="cell">{{ gettext('tab.reg') }}</div>
			<div class="cell">{{ gettext('tab.cn') }}</div>
		</div>
		{% for item in list %}
		<div class="row">
			<div class="cell">{{item.takeoff_dt.strftime('%d.%m.')}}</div>
			<div class="cell">{{item.takeoff_dt.strftime('%H:%M')}}</div>
			<div class="cell"><a href="/loc/{{item.takeoff_icao}}">{{item.takeoff_icao}}</a></div>
			<div class="cell"><a href="/reg/{{item.registration}}">{{item.registration}}</a></div>
			<div class="cell">{{item.cn}}</div>
		</div>
		{% endfor %}
	</div>
{%- endmacro %}


{% macro formatArrivals(list) -%}
	<h2>{{ gettext('main.arrivals') }}</h2>

	<div class="table">
		<div class="row header green">
			<div class="cell">{{ gettext('tab.date') }}</div>
			<div class="cell">{{ gettext('tab.time') }}</div>
			<div class="cell">{{ gettext('tab.loc') }}</div>
			<div class="cell">{{ gettext('tab.reg') }}</div>
			<div class="cell">{{ gettext('tab.cn') }}</div>
		</div>
		{% for item in list %}
		<div class="row">
			<div class="cell">{{item.landing_dt.strftime('%d.%m.')}}</div>
			<div class="cell">{{item.landing_dt.strftime('%H:%M')}}</div>
			<div class="cell"><a href="/loc/{{item.landing_icao}}">{{item.landing_icao}}</a></div>
			<div class="cell"><a href="/reg/{{item.registration}}">{{item.registration}}</a></div>
			<div class="cell">{{item.cn}}</div>
		</div>
		{% endfor %}
	</div>
{%- endmacro %}

{% macro formatFlights(list) -%}
	<h2>{{ gettext('main.flights') }}</h2>

	{% if list|length > 0 %}
		<div class="table">
			<div class="row header blue">
				<div class="cell">{{ gettext('tab.date') }}</div>
				<div class="cell">{{ gettext('tab.reg') }}</div>
				<div class="cell">{{ gettext('tab.cn') }}</div>
				<div class="cell">{{ gettext('tab.acftType') }}</div>
				<div class="cell">{{ gettext('tab.to') }}</div>
				<div class="cell"></div>
				<div class="cell">{{ gettext('tab.land') }}</div>
				<div class="cell"></div>
				<div class="cell">{{ gettext('tab.ft') }}</div>
			</div>
			{% for item in list %}
			<div class="row">
				<div class="cell">{% if item.takeoff_dt %} {{item.takeoff_dt.strftime('%d.%m.')}} {% else %} {{item.landing_dt.strftime('%d.%m.')}} {% endif %}</div>
				<div class="cell"><a href="/reg/{{item.registration}}">{{item.registration}}</a></div>
				<div class="cell">{{item.cn}}</div>
				<div class="cell">{{item.aircraft_type}}</div>
				<div class="cell">{% if item.takeoff_icao %} <a href="/loc/{{item.takeoff_icao}}">{{item.takeoff_icao}} {% else %} ? {% endif %}</div>
				<div class="cell">{% if item.takeoff_dt %} {{item.takeoff_dt.strftime('%H:%M')}} {% else %} ? {% endif %}</div>
				<div class="cell"><a href="/loc/{{item.landing_icao}}">{{item.landing_icao}}</a></div>
				<div class="cell">{{item.landing_dt.strftime('%H:%M')}}</div>
				<div class="cell">{{item.flight_time}}</div>
			</div>
			{% endfor %}

			{% if numFlights and totalFlightTime %}
			<div class="row">
				<div class="cell sum"></div>
				<div class="cell sum"></div>
				<div class="cell sum"></div>
				<div class="cell sum"></div>
				<div class="cell sum"></div>
				<div class="cell sum">{{ gettext('sum.flights') }}:</div>
				<div class="cell sum">{{numFlights}}</div>
				<div class="cell sum">{{ gettext('sum.hours') }}:</div>
				<div class="cell sum">{{totalFlightTime}}</div>
			</div>
			{% endif %}

		{% else %}
			{{ gettext('search.notFound') }}
		{% endif %}
	</div>
{%- endmacro %}

<body onload="onLoad()">

	{% include 'header.html' %}

	<div class="sitebody">

		{% if showFlightsOnly %}
		<div class="oneCol">
			<div>
				{{ formatFlights(flights) }}
			</div>
		</div>
		{% else %}
		<div class="threeCols">
			<div>
				{{ formatDepartures(departures) }}
			</div>
			<div>
				{{ formatArrivals(arrivals) }}
			</div>
			<div>
				{{ formatFlights(flights) }}
			</div>
		</div>
		{% endif %}


	</div>

	{% include 'footer.html' %}

</body>
</html>
