<!doctype html>

<html>

<head>
<title>OGN Logbook</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description"
	content="OGN Logbook - Open Gliding Network Logbook">

<link rel="stylesheet" href="/static/css/index.css"	type="text/css">
<link href="/static/img/favicon.png" rel="shortcut icon">
<link href="/static/img/favicon.png" rel="icon" type="image/png" />

{#
{% if not runningLocally %}
<link rel="stylesheet"
	href="http://count-for-me.appspot.com/logMe?location=ognLogbook"
	type="text/css">
{% endif %}
#}

{% macro formatDepartures(list) -%}
	<h2>Departures</h2>
	<div class="table">
		<div class="row header">
			<div class="cell">Date</div>
			<div class="cell">Time</div>
			<div class="cell">Loc</div>
			<div class="cell">Reg</div>
			<div class="cell">CN</div>
		</div>
		{% for item in list %}
		<div class="row">
			<div class="cell">{{item.takeoff_dt.strftime('%Y-%m-%d')}}</div>
			<div class="cell">{{item.takeoff_dt.strftime('%H:%M')}}</div>
			<div class="cell">{{item.takeoff_icao}}</div>
			<div class="cell">{{item.registration}}</div>
			<div class="cell">{{item.cn}}</div>
		</div>
		{% endfor %}
	</div>
{%- endmacro %}


{% macro formatArrivals(list) -%}
	<h2>Arrivals</h2>

	<div class="table">
		<div class="row header green">
			<div class="cell">Date</div>
			<div class="cell">Time</div>
			<div class="cell">Loc</div>
			<div class="cell">Reg</div>
			<div class="cell">CN</div>
		</div>
		{% for item in list %}
		<div class="row">
			<div class="cell">{{item.landing_dt.strftime('%Y-%m-%d')}}</div>
			<div class="cell">{{item.landing_dt.strftime('%H:%M')}}</div>
			<div class="cell">{{item.landing_icao}}</div>
			<div class="cell">{{item.registration}}</div>
			<div class="cell">{{item.cn}}</div>
		</div>
		{% endfor %}
	</div>
{%- endmacro %}

{% macro formatFlights(list) -%}
	<h2>Flights</h2>

	<div class="table">
		<div class="row header blue">
			<div class="cell">Date</div>
			<div class="cell">Reg</div>
			<div class="cell">CN</div>
			<div class="cell">Take-off</div>
			<div class="cell"></div>
			<div class="cell">Landing</div>
			<div class="cell"></div>
			<div class="cell">Flight time</div>
		</div>
		{% for item in list %}
		<div class="row">
			<div class="cell">{% if item.takeoff_dt %} {{item.takeoff_dt.strftime('%Y-%m-%d')}} {% else %} {{item.landing_dt.strftime('%Y-%m-%d')}} {% endif %}</div>
			<div class="cell">{{item.registration}}</div>
			<div class="cell">{{item.cn}}</div>
			<div class="cell">{% if item.takeoff_icao %} {{item.takeoff_icao}} {% else %} ? {% endif %}</div>
			<div class="cell">{% if item.takeoff_dt %} {{item.takeoff_dt.strftime('%H:%M')}} {% else %} ? {% endif %}</div>
			<div class="cell">{{item.landing_icao}}</div>
			<div class="cell">{{item.landing_dt.strftime('%H:%M')}}</div>
			<div class="cell">{{item.flight_time}}</div>
		</div>
		{% endfor %}
	</div>
{%- endmacro %}

</head>

<script type="text/javascript">
	function afterLoad() {
		document.getElementById("search").focus();
	}
</script>

<body onload="afterLoad()">

	<div class="screenCentered">

		<div class="threeCols">
			<div>
				{{ formatDepartures(departures) }}
			</div>
			<div>
				{{ formatArrivals(arrivals) }}
			</div>
			<div>
				{{ formatFlights(flights) }}
			</div>
		</div>

	</div>

	{% include 'footer.html' %}

</body>
</html>
