<!DOCTYPE html>
<html>
<head>
    <title>map view</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="stylesheet" href="/static/css/index.css"	type="text/css">
</head>
<body onload="onPageLoad();">

    {% include 'header.html' %}

    <div style="margin-top: 90px; text-align: center;">
        {% if flight.aircraft_type %}{{flight.aircraft_type}}{% endif %}
        {% if flight.registration %} <a href="/reg/{{flight.registration}}">{{flight.registration}}</a>{% endif %}
        {% if flight.cn %} ({{flight.cn}}){% endif %}
        {% if flight.takeoff_ts %} {{formatTsToHHMM(flight.takeoff_ts)}}{% endif %}
        {% if flight.takeoff_icao %} <a href="/loc/{{flight.takeoff_icao}}">{{flight.takeoff_icao}}</a>{% endif %}
         &#8605;
        {% if flight.landing_icao %} <a href="/loc/{{flight.takeoff_icao}}">{{flight.landing_icao}}</a>{% endif %}
        {% if flight.landing_ts %} {{formatTsToHHMM(flight.landing_ts)}}{% endif %}
        {% if flight.flight_time %}/ {{flight.flight_time|safe}}{% endif %}
        {% if flight.flown_distance %}/ {{flight.flown_distance}} km{% endif %}
    </div>

    <div id="map" style="margin-top: 10px; width: 100vw; max-width: 1450px; height:80vh"></div>
    <script src="/static/js/map.js"></script> {# !! needs to be here AFTER the map div !! #}
    <script>
        var latlngs = [
            {% for item in flightRecord %}
            [{{item.lat}}, {{item.lon}}],
            {% endfor %}
        ];
    </script>

    {% include 'footer.html' %}

</body>
</html>
